main {
    font-family: Arial, sans-serif;
    padding: 1rem;
    /* background-color: #1f1e1e; */
}


.lista-cards{
    display: flex;
    justify-content: center;
}

.card{
    display: inline;
    margin: 0 1rem;
}

.container-card{
    border: 2px solid rgb(113, 113, 119);
    border-radius: 0.5rem;
    width: 20rem;
    height: 8rem;
}

.painel{
margin: 2rem;
}

.container-pai{
    border: 2px solid rgb(113, 113, 119);
}

.painel{
    justify-content: space-between; /* Espaço entre o painel e a lista */
    align-items: flex-start; /* Alinha os itens no topo */
    gap: 2rem; /* Espaçamento entre os elementos */
}

.container-filtro{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.containers-classificacao {
    display: flex; /* Torna os itens filhos flexíveis */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    gap: 20px; /* Espaço entre os containers */
  }
  
  .container-grafico,
  .container-vendas {
    background-color: #f9f9f9; /* Cor de fundo para destacar os containers */
    padding: 20px; /* Espaçamento interno */
    border: 2px solid rgb(113, 113, 119); /* Borda para estilização */
    border-radius: 10px; /* Arredondamento das bordas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
  }

.container-card{
    text-align: center;
  
}